{
  "admin_ui.https.ip_address": "all",
  "admin_ui.https.port": "943",
  "aui.eula_version": "3",
  "auth.ldap.0.name": "My LDAP servers",
  "auth.ldap.0.ssl_verify": "internal",
  "auth.ldap.0.timeout": "4",
  "auth.ldap.0.use_ssl": "never",
  "auth.ldap.0.user_exists_check": "true",
  "auth.module.type": "local",
  "auth.pam.0.service": "openvpnas",
  "auth.radius.0.acct_enable": "false",
  "auth.radius.0.name": "My Radius servers",
  "cs.cws.pwd_change": "true",
  "cs.cws.pwd_strength": "true",
  "cs.cws_proto_v2": "true",
  "cs.https.ip_address": "all",
  "cs.https.port": "943",
  "cs.prof_sign_web": "true",
  "cs.tls_version_min": "1.2",
  "sa.compression_warning_shown": "displayed",
  "sa.initial_run_groups.0": "web_group",
  "sa.initial_run_groups.1": "openvpn_group",
  "upgrade.current_version": "2.11.0",
  "upgrade.initial_version": "2.11.0",
  "vpn.client.basic": "false",
  "vpn.client.cipher": "AES-256-CBC",
  "vpn.client.routing.inter_client": "false",
  "vpn.client.routing.reroute_dns": "true",
  "vpn.client.routing.reroute_gw": "false",
  "vpn.daemon.0.client.netmask_bits": "20",
  "vpn.daemon.0.client.network": "172.27.224.0",
  "vpn.daemon.0.listen.ip_address": "all",
  "vpn.daemon.0.listen.port": "443",
  "vpn.daemon.0.listen.protocol": "tcp",
  "vpn.daemon.0.server.ip_address": "all",
  "vpn.general.osi_layer": "3",
  "vpn.server.cipher": "AES-256-CBC",
  "vpn.server.daemon.enable": "true",
  "vpn.server.daemon.tcp.n_daemons": "2",
  "vpn.server.daemon.tcp.port": "443",
  "vpn.server.daemon.udp.n_daemons": "2",
  "vpn.server.daemon.udp.port": "1194",
  "vpn.server.google_auth.enable": "false",
  "vpn.server.group_pool.0": "172.27.240.0/20",
  "vpn.server.lockout_policy.n_fails": "5",
  "vpn.server.lockout_policy.reset_time": "900",
  "vpn.server.port_share.enable": "true",
  "vpn.server.port_share.ip_address": "1.2.3.4",
  "vpn.server.port_share.port": "1234",
  "vpn.server.port_share.service": "admin+client",
  "vpn.server.routing.private_access": "no",
  "vpn.server.routing.private_network.0": "172.17.0.0/16",
  "vpn.server.tls_cc_security": "tls-crypt",
  "vpn.server.tls_version_min": "1.2"
}
