---
version: "3.9"
services:
  openvpn-as:
    build:
      context: .
      dockerfile: Dockerfile
    image: garnser/docker-openvpn-as:2.11.0
    container_name: openvpn-as
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
      - INTERFACE=eth0 #optional
      - VIRTUAL_HOST=vpn.helpmesee.org
      - VIRTUAL_PORT=843
      - VIRTUAL_PROTO=https
    volumes:
      - ./as.conf:/usr/local/openvpn_as/etc/as.conf
      - ./config:/config
    ports:
      - 943:943
      - 843:843
      - 9443:9443
      - 1194:1194/udp
    restart: unless-stopped
    networks:
      - authproxy_authproxy-net
      - openvpn-net
    
networks:
  authproxy_authproxy-net:
    external: true
  openvpn-net:
    driver: bridge
