---
version: "3.9"
services:
  openvpn-as:
    build:
      context: .
      dockerfile: Dockerfile
    image: garnser/docker-openvpn-as:2.11.0
    container_name: openvpn-as
    cap_add:
      - NET_ADMIN
    env_file: openvpn_as.env
    volumes:
      - ./as.conf:/usr/local/openvpn_as/etc/as.conf
      - ./certs:/usr/local/openvpn_as/etc/web-ssl
      - ./utils/post_auth.py:/root/post_auth.py
    ports:
      - 943:943
      - 843:843
      - 9443:9443
      - 1194:1194/udp
    restart: unless-stopped
    networks:
      - authproxy_authproxy-net
      - openvpn-net
    
networks:
  authproxy_authproxy-net:
    external: true
  openvpn-net:
    driver: bridge
